<?xml version="1.0" encoding="utf-8"?>
<config>
	<!-- debug: modo de depuração Possíveis Valores: 0 = desligado 1 = somente 
		no log (se estiver habilitado) 2 = somente na tela 3 = no log e na tela -->
	<debug>1</debug>

	<!-- CaracterSet Utilizado -->
	<charset>UTF-8</charset>

	<!-- Tratamento de Log em arquivo -->
	<log>

		<!-- Habilitado: 0 / 1 -->
		<habilitado>1</habilitado>
		<!-- Caminho relativo ao DOC_ROOT -->
		<caminho>log/mc.log</caminho>
	</log>

	<!-- Tratamento de data -->
	<data>
		<timezone>America/Maceio</timezone>
	</data>

	<!-- Configurações de Banco de dados -->
	<database>
		<driver>Mysqli</driver>
		<usuario>megaUser</usuario>
		<senha>648f11615062d7732f5e60cbc8f71fb4033ba4826700e2485bcd65413af56d21zHfR30JWRlfMWyPzpXjBuH78ZbDRF9i8TJPopBjYQOyr5YvvOv+siYei+cY9cFM9</senha>
		<banco>megacondominio</banco>
		<ip></ip>
		<charset>UTF8</charset>
		<indSenhaCript>1</indSenhaCript>

	</database>

	<!-- Configurações de E-Mail -->
	<mail>
		<!-- Nome do Remetente -->
		<nomeRemetente>MegaCondomínio</nomeRemetente>

		<!-- Email do Remetente -->
		<remetente>mc@localhost</remetente>

		<!-- Nome do Admin do Sistema -->
		<nomeAdmin>Daniel Cassela</nomeAdmin>

		<!-- Email do Admin do sistema -->
		<admin>cassela@localhost</admin>
	</mail>
</config>